HOST=0.0.0.0
PORT=3099
MYSQL_DSN=root:root@tcp(127.0.0.1:3306)/vmagent_ui?parseTime=true&multiStatements=true
STATIC_DIR=public
DEFAULT_CONFIG_PATH=config/sample-vmagent.yml
DEFAULT_AUTHOR=web-ui
VMAGENT_CONFIG_PATH=/etc/vmagent/config.yml
APPLY_MODE=noop
VMAGENT_RELOAD_URL=http://127.0.0.1:8429/-/reload
